<h1>ユーザー一覧</h1>

<table>
  <tr>
    <th>ユーザー名</th>
    <th>メールアドレス</th>
    <th>タスク数</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.tasks.count %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'プロフィール画面', user_path(current_user.id) %>